header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.gem {
width: 5%;
height: 5%;
border: 1px solid white;
border-radius: 50%;
padding: 10px 15px;
}

.main_hero {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.empty {
    height: 20px;
    width: 1px;
    border-left: 1px solid white;
    text-align: center;
}

.line {
    border-bottom: 1px solid white;
    padding: 10px;
}