
@import url(hero.css);
@import url(buttons.css);
@import url(tabs.css);




body{
    overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   height: 100vh;
   width: 100%;
 }

 body .bg {
    background-image: url(../resources/bg.jpg);
    object-fit: cover;
    object-position: center;
    top: 0;
    z-index: -50;
    height: 100vh;
    width: 100%;
    position: absolute;

 }